---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Leventhorpe Debating Society
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
   <div class="py-1 flex items-center justify-center gap-1 pb-4">
      <img src="/images/lds-logo.jpg">
    </div>
  <div>
    <p class="text-xl pb-4">
      This is a website designed for the use of members of the Leventhorpe Debating Society Club.
      It can be used to view the current weekly debate, get resources to help with your arguments and see any extra news.
    </p>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1 mb-4"
    >
    </div>
    <p class="text-2xl pb-4">
      Location: D10
    </p>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1 mb-4"
    >
    </div>
    <p>
      Many thanks to the teachers who run the club and the students that attend:
      The club wouldn't be possible without you!
  </div>
</section>
